.App {
  text-align: center;
  background: #000000;
  color: #fff;
  line-height: 50px;
  font-size: 25px;
  min-height: 100vh;
}

.section-lang{
  width: 100px;
  height: 30px;
  /* padding: 0px 20px; */
  font-weight: 700;
  font-size: 20px;
}